<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
    <title>펫 넥서스</title>
</head>

<body class="homepage is-preload">
<div id="page-wrapper">
    <div id="header"></div>

    <!-- Banner -->
    <section id="banner">
        <div class="container">
            <p>찾으시는 커뮤니티 글이 있으신가요?</p>
        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div id="content" class="col-8 col-12-medium">
                    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                        <!- Post -->
                        <article class="box post" th:each="post : ${postList}">
                            <header>
                                <h2 th:text="${post.title}"></h2>
                            </header>
                            <h3 th:text="${post.username}"></h3>
                            <p th:text="${post.content}"></p>
                            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                                <div th:if="${not #lists.isEmpty(post.getImageList())}" class="group relative">
                                    <img style="width: 120px; height: 90px" th:src="${post.getImageList().get(0)}">
                                </div>
                            </div>
                            <ul class="actions">
                                <li><a th:onclick="|location.href='@{/community/{postId}(postId=${post.id})}'|"
                                       class="button icon solid fa-file">게시글 보기</a></li>
                            </ul>
                        </article>
                    </div>

                </div>

				<div th:if="${postList.totalPages > 0}" class="pagination"
					 th:each="pageNumber : ${pageNumbers}">
					<a th:href="@{/community(size=${postList.size}, page=${pageNumber})}"
					   th:text=${pageNumber}
					   th:class="${pageNumber==postList.number + 1} ? active"></a>
				</div>

                <!-- Sidebar -->
                <div id="sidebar" class="col-4 col-12-medium">

                    <!-- Highlights -->
                    <section>
                        <ul class="divided">
                            <li>

                                <!-- Highlight -->
                                <article class="box highlight">
                                    <header>
                                        <h3><a href="/community/post" class="button icon solid fa-file">글 작성하기</a></h3>
                                    </header>
                                </article>

                            </li>
                        </ul>
                    </section>
                </div>
            </div>

		</div></section></div>
</body>
<script>
	$(document).ready(function () {
		$("#header").load("./header.html");
	});

</script>

</html>