<!DOCTYPE HTML>
<html>
<head>
    <title>펫 넥서스</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        .map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
        .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
        .map_wrap {position:relative;width:100%;height:500px;}
        #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
        .bg_white {background:#fff;}
        #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
        #menu_wrap .option{text-align: center;}
        #menu_wrap .option p {margin:10px 0;}
        #menu_wrap .option button {margin-left:5px;}
        #placesList li {list-style: none;}
        #placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
        #placesList .item span {display: block;margin-top:4px;}
        #placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        #placesList .item .info{padding:10px 0 10px 55px;}
        #placesList .info .gray {color:#8a8a8a;}
        #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
        #placesList .info .tel {color:#009900;}
        #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
        #placesList .item .marker_1 {background-position: 0 -10px;}
        #placesList .item .marker_2 {background-position: 0 -56px;}
        #placesList .item .marker_3 {background-position: 0 -102px}
        #placesList .item .marker_4 {background-position: 0 -148px;}
        #placesList .item .marker_5 {background-position: 0 -194px;}
        #placesList .item .marker_6 {background-position: 0 -240px;}
        #placesList .item .marker_7 {background-position: 0 -286px;}
        #placesList .item .marker_8 {background-position: 0 -332px;}
        #placesList .item .marker_9 {background-position: 0 -378px;}
        #placesList .item .marker_10 {background-position: 0 -423px;}
        #placesList .item .marker_11 {background-position: 0 -470px;}
        #placesList .item .marker_12 {background-position: 0 -516px;}
        #placesList .item .marker_13 {background-position: 0 -562px;}
        #placesList .item .marker_14 {background-position: 0 -608px;}
        #placesList .item .marker_15 {background-position: 0 -654px;}
        #pagination {margin:10px auto;text-align: center;}
        #pagination a {display:inline-block;margin-right:10px;}
        #pagination .on {font-weight: bold; cursor: default;color:#777;}
    </style>
    <script>
        $(document).ready(function () {
            $("#header").load("/header");
        });
    </script>
</head>

<body class="homepage is-preload">
<div id="page-wrapper">
    <div id="header"></div>

    <!-- Main -->
    <section id="main">
        <div class="space-y-12 bg-white w-full max-w-xl mx-auto">
            <div class="border-2 px-20 pb-20 ">
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-4">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">제목</label>
                        <div class="mt-2">
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300  sm:max-w-md">
                                <input type="text" name="title" id="title" autocomplete="title"
                                       class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400  sm:text-sm sm:leading-6"
                                       placeholder="제목을 입력해주세요." th:value="${trade.title}">
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                        <div class="mt-2">
                            <div class="relative inline-block text-left">
                                <button type="button" id="categoryButton" class="items-center gap-x-1 text-sm font-semibold leading-6">
                                    <span>카테고리</span>
                                    <svg class="h-5 w-5" viewBox="0 20 100 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                                <div id="categoryDropdown" class="hidden absolute left-0 mt-2 w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
                                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="categoryButton">
                                        <button onclick="selectCategory('ITEM');" class="block text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">물품</button>
                                        <button onclick="selectCategory('FOOD');" class="block text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">음식</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label for="contents" class="block text-sm font-medium leading-6 text-gray-900">내용</label>
                        <div class="mt-2">
                            <textarea id="contents" name="about" rows="3"
                                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" placeholder="내용을 입력해주세요." th:text="${trade.content}"></textarea>
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">가격</label>
                        <div class="mt-2">
                            <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300  sm:max-w-md">
                                <input type="text" name="price" id="price" autocomplete="price"
                                       class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400  sm:text-sm sm:leading-6"
                                       placeholder="가격을 입력해주세요." th:value="${trade.price}">
                            </div>
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">거래 희망장소</label>
                        <div class="map_wrap">
                            <div id="map" style="width:500px;height:100%;position:relative;overflow:hidden;"></div>

                            <div id="menu_wrap" class="bg_white">
                                <div class="option">
                                    <div>
                                        <form onsubmit="searchPlaces(); return false;">
                                            키워드 : <input type="text" value="희망장소" id="keyword" size="15">
                                            <button type="submit">검색하기</button>
                                        </form>
                                    </div>
                                    <input type="text" id="result1" hidden="hidden" th:value="${trade.latitude}" />
                                    <input type="text" id="result2" hidden="hidden" th:value="${trade.longitude}" />
                                </div>
                                <hr>
                                <ul id="placesList"></ul>
                                <div id="pagination"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label class="block text-sm font-medium leading-6 text-gray-900">파일 업로드</label>
                        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                            <div class="text-center">
                                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                    <label for="imageFiles"
                                           class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <!--                                        <input id="file" name="file" type="text" class="sr-only" th:value="${file}">-->
                                        <input type="file" id="imageFiles" accept="image/*" multiple>
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 1MB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="reset" class="rounded-md bg-orange-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">다시쓰기</button>
                <button  th:if="${trade.id} == null" type="button"  onclick="create()"
                         class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    완료
                </button>
                <button  th:if="${trade.id} != null" type="button"  onclick="update()"
                         class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    수정하기
                </button>
                <button  th:if="${trade.id} != null" type="button"  onclick="Delete()"
                         class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    삭제하기
                </button>
            </div>
        </div>
    </section>

</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function create(){
        let title = $('#title').val();
        let contents = $('#contents').val();
        let latitude = document.getElementById('result1').value;
        let longitude = document.getElementById('result2').value;
        // let latitude = $('#latitude').val();
        // let longitude = $('#longitude').val();
        let price = $('#price').val();
        let category = document.getElementById('categoryButton').textContent;
        console.log(category);

        let imageFiles = document.getElementById('imageFiles').files;
        let formData = new FormData();
        formData.append("title", title);
        formData.append("content", contents);
        formData.append("latitude", latitude);
        formData.append("longitude", longitude);
        formData.append("price", price);
        formData.append("category", category);
        for(let i=0; i<imageFiles.length; i++){
            formData.append("imageFiles", imageFiles[i]);
        }
        $.ajax({
            type:"POST",
            url: `/api/trade`,
            data: formData,
            processData: false,
            contentType: false,
            enctype:'multipart/form-data'
        }).done(function(){
            alert("trade 생성 완료")
            location.replace(`/tradeMarket`);
        }).fail(function (xhr, textStatus, error){
            console.log("AJAX 요청 실패: ", error);
            console.log("상태 코드: ", xhr.status);
            console.log("에러 내용: ", textStatus);
        })
    }

    function Delete(){
        let params = new URLSearchParams(location.search);
        let id = params.get('tradeId');
        $.ajax({
            type: 'Delete',
            url: `/api/trade/${id}`,
        }).done(function () {
            alert("post 삭제 완료")
            location.replace(`/tradeMarket`);
        })
    }

    function update(){
        let params = new URLSearchParams(location.search);
        let id = params.get('tradeId');
        let title = $('#title').val();
        let contents = $('#contents').val();
        let latitude = document.getElementById('result1').value;
        let longitude = document.getElementById('result2').value;
        // let latitude = $('#latitude').val();
        // let longitude = $('#longitude').val();
        let price = $('#price').val();
        let category = document.getElementById('categoryButton').textContent;
        console.log(category);

        let imageFiles = document.getElementById('imageFiles').files;
        let formData = new FormData();
        formData.append("title", title);
        formData.append("content", contents);
        formData.append("latitude", latitude);
        formData.append("longitude", longitude);
        formData.append("price", price);
        formData.append("category", category);
        for(let i=0; i<imageFiles.length; i++){
            formData.append("imageFiles", imageFiles[i]);
        }
        $.ajax({
            type:"PUT",
            url: `/api/trade/${id}`,
            data: formData,
            processData: false,
            contentType: false,
            enctype:'multipart/form-data'
        }).done(function(){
            alert("trade 생성 완료")
            location.replace(`/tradeMarket`);
        }).fail(function (xhr, textStatus, error){
            console.log("AJAX 요청 실패: ", error);
            console.log("상태 코드: ", xhr.status);
            console.log("에러 내용: ", textStatus);
        })
    }

    function selectCategory(category) {
        // 선택한 카테고리 값을 서버로 보낼 수 있도록 원하는 방식으로 처리합니다.
        // 여기서는 category를 서버로 전송하거나, 데이터를 저장하는 등의 작업을 수행할 수 있습니다.
        console.log('Selected category:', category);

        // 선택한 카테고리를 버튼에 표시합니다.
        document.getElementById('categoryButton').textContent = category;

        // 드롭다운 메뉴를 닫습니다.
        closeCategoryDropdown();
    }
    function closeCategoryDropdown() {
        // 드롭다운을 닫기 위해 해당 요소를 숨깁니다.
        document.getElementById('categoryDropdown').classList.add('hidden');
    }

    // 드롭다운 버튼을 클릭하면 드롭다운을 토글합니다.
    document.getElementById('categoryButton').addEventListener('click', function () {
        var dropdown = document.getElementById('categoryDropdown');
        dropdown.classList.toggle('hidden');
    });

    // 드롭다운 영역 외의 영역을 클릭하면 드롭다운을 닫습니다.
    document.addEventListener('click', function (event) {
        var dropdown = document.getElementById('categoryDropdown');
        var button = document.getElementById('categoryButton');
        if (!dropdown.contains(event.target) && event.target !== button) {
            closeCategoryDropdown();
        }
    });
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=63f6394b87e974f3b46f1a9c5688deba&libraries=services"></script>
<script>
    // 마커를 담을 배열입니다
    var markers = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    // 키워드로 장소를 검색합니다
    searchPlaces();

    // 키워드 검색을 요청하는 함수입니다
    function searchPlaces() {

        var keyword = document.getElementById('keyword').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }

        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch( keyword, placesSearchCB);
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);

            // 페이지 번호를 표출합니다
            displayPagination(pagination);

        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

        } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

        }
    }

    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(),
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        for ( var i=0; i<places.length; i++ ) {

            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = addMarker(placePosition, i),
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);


            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, title) {

                kakao.maps.event.addListener(marker, 'click', function() {
                    displayInfowindow(marker, title);
                });


                itemEl.onclick =  function () {
                    displayInfowindow(marker, title);
                };

            })(marker, places[i].place_name);

            fragment.appendChild(itemEl);
        }



        // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }

    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {

        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

        if (places.road_address_name) {
            itemStr += '    <span>' + places.road_address_name + '</span>' +
                '   <span class="jibun gray">' +  places.address_name  + '</span>';
        } else {
            itemStr += '    <span>' +  places.address_name  + '</span>';
        }

        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
            '</div>';

        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;

        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }

        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
        // alert(marker.getPosition().getLat());
        var result1 = marker.getPosition().getLat();
        var result2 = marker.getPosition().getLng();

        var resultDiv1 = document.getElementById('result1');
        var resultDiv2 = document.getElementById('result2');

        resultDiv1.value = result1;
        resultDiv2.value = result2;
        // map.setCenter(marker.getPosition);
    }

    function sendPosition(){
        var lat = document.getElementById('result1').value;
        var lon = document.getElementById('result2').value;

        var formData = new FormData();
        formData.append('latitude', lat);
        formData.append('longitude', lon);

        $.ajax({
            type:"POST",
            url: `/api/trade`,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (){
            alert("희망장소 선택 완료");
        }).fail(function(){
            alert("다시 선택해 주세요.")
            location.replace(`/tradeKakaoMap`);
        })
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }
</script>
