<!DOCTYPE html>
<html lang="ko">

<head>
    <title>펫 넥서스</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<section id="header">




        <!-- Nav -->
        <nav id="nav" style="position: relative; top: 0em">
            <ul>
                <li><a class="icon solid fa-home" href="/mycommunity"><span>나의 커뮤니티</span></a></li>
                <li><a class="icon fa-chart-bar" href="/mytradeMarket"><span>나의 중고장터</span></a></li>
                <li><a class="icon solid fa-cog" href="/myopenchat"><span>나의 오픈채팅</span></a></li>
            </ul>
            <div id="sse-container">
                <!-- SSE 이벤트 스트림 내용이 여기에 표시됩니다. -->
            </div>
        </nav>


</section>
</body>
</html>

