<!DOCTYPE HTML>

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>펫 넥서스</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#header").load("./header.html");
		});
	</script>
</head>

<body class="homepage is-preload">
<div id="page-wrapper">
	<div id="header"></div>


	<!-- Main -->
	<section id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="col-8 col-12-medium">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2 th:text="${post.title}"></h2>
						</header>
						<h3 th:text="${post.username}"></h3>
						<p th:text="${post.content}"></p>
						<div class="bg-white">
							<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
								<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
									<div th:each="imageFile : ${post.getImageList()}">
										<div class="group relative">
											<img style="width: 120px; height: 90px" th:src="${imageFile}">
										</div>
									</div>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a th:onclick="|location.href='@{/community/post?postId={postId}(postId=${post.id})}'|"
								   class="button icon solid fa-file">수정하기</a></li>
						</ul>
					</article>

				</div>
			</div>
		</div>
	</section>

</div>
</body>
</html>
