<!DOCTYPE HTML>

<html>
<head>
	<title>펫 넥서스</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=63f6394b87e974f3b46f1a9c5688deba&libraries=services"></script>
	<link rel="stylesheet" href="/css/main.css"/>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#header").load("/header");
		});
	</script>
</head>

<body class="homepage is-preload">
<div id="page-wrapper">
	<div id="header"></div>


	<!-- Main -->
	<section id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="col-8 col-12-medium">

					<!-- Post -->
					<article class="box post" style="margin-left: 200px">
						<input type="hidden" id="trade-id" th:value="${trade.id}">
						<a style="float:right; margin-right: 30px" th:onclick="|location.href='@{/tradechat/room?chatId={chatId}(chatId=${trade.tradeChatroom})}'|"
							 class="button icon solid fa-file">구매요청 보내기</a>
						<header>
							<h2 th:text="${trade.title}"></h2>
							<h3 th:text="${trade.price}+원"></h3>
						</header>


						<p th:text="${trade.content}"></p>

						<div th:each="imageFile : ${trade.getImageList()}">
							<div class="group relative">
								<img style="max-width: 100%; height: auto;" th:src="${imageFile}">
							</div>
						</div>

						<h2>거래 희망 장소</h2>
						<p>
							<span id="latitude" hidden="hidden" th:text="${trade.latitude}"></span>
							<span id="longitude" hidden="hidden" th:text="${trade.longitude}"></span>
						</p>

						<p style="margin-top:-12px">
							<em class="link">
								<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
								</a>
							</em>
						</p>
						<div id="map" style="width:100%;height:250px;"></div>

						<button class="btn btn-black" style="font-size: 8px" id="like-btn" th:onclick="likeIt([[${trade.id}]])">좋아요</button>

						<ul class="actions" style="border-top: solid 2px">
							<li><input id="comment"  style="font-size: 15px; font-weight: 600; color: inherit; width: 650px; border:none" placeholder="댓글을 입력해 주세요."></li>
							<li><button class="btn bnt-black" style="font-size: 2px" id="createCom-btn" onclick="create()">등록</button></li>
						</ul>
						<div class="row-6" th:each="comment : ${trade.tradeCommentList}">
							<input type="hidden" id="comment-id" th:value="${comment.id}">
							<div>
								<span style="font-size: 7px; font-weight: 700; color: inherit" th:text="${comment.username}"></span>
								<div>
									<input th:id="'comment'+${comment.id}" style="font-size: 11px; font-weight: 500; color: inherit; width: 630px; border:none" th:value="${comment.comment}">
									<button class="btn bnt-black" style="font-size: 2px" th:onclick="updateComment([[${comment.id}]])">수정</button>
									<button class="btn bnt-black" style="font-size: 2px" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
								</div>
							</div>
						</div>

						<ul class="actions">
							<li><a th:onclick="|location.href='@{/tradeMarket/trade?tradeId={tradeId}(tradeId=${trade.id})}'|"
								   class="button icon solid fa-file">수정하기</a></li>
						</ul>
					</article>

				</div>
			</div>
		</div>
	</section>
</div>
<script>
	var latitude = document.getElementById("latitude");
	if (latitude) {
		var latitudeValue = parseFloat(latitude.textContent);
		console.log("숫자:", latitudeValue)
		console.log(typeof latitudeValue);
	} else {
		console.log("요소를 찾을 수 없습니다.");
	}
	var longitude = document.getElementById("longitude");
	if (longitude) {
		var longitudeValue = parseFloat(longitude.textContent);
		console.log("숫자:", longitudeValue);
		console.log(typeof longitudeValue);
	} else {
		console.log("요소를 찾을 수 없습니다.");
	}
	var mapContainer = document.getElementById('map');
	var mapOption = {
		center: new kakao.maps.LatLng(33.450701, 126.570667), // 중심 좌표 설정
		level: 3 // 확대 수준 설정
	};

	// 지도를 생성합니다
	var map = new kakao.maps.Map(mapContainer, mapOption);

	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();

	// 주소로 좌표를 검색합니다
	var coords = new kakao.maps.LatLng(latitudeValue, longitudeValue);

	// 결과값으로 받은 위치를 마커로 표시합니다
	var marker = new kakao.maps.Marker({
		map: map,
		position: coords
	});

	// 인포윈도우로 장소에 대한 설명을 표시합니다
	var infowindow = new kakao.maps.InfoWindow({
		content: '<div style="width:150px;text-align:center;padding:6px 0;">희망장소</div>'
	});
	infowindow.open(map, marker);

	// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	map.setCenter(coords);

</script>
</body>
</html>
<script>
	function likeIt(tradeId){
		$.ajax({
			type: 'POST',
			url: `/api/trade/${tradeId}/like`,
		}).done(function () {
			alert("좋아요!")
			location.replace(`/tradeMarket/`+tradeId);
		})
	}

	function create(){
		let comment = $('#comment').val();
		let tradeElement = document.getElementById('trade-id');
		let tradeId = tradeElement.value;

		$.ajax({
			type: 'POST',
			url: `/api/trade/${tradeId}/comment`,
			contentType: 'application/json',
			data: JSON.stringify({ comment: comment }),
		}).done(function () {
			alert("댓글 작성 완료")
			location.replace(`/tradeMarket/`+tradeId);
		})
	}

	function updateComment(commentId){
		let tradeElement = document.getElementById('trade-id');
		let tradeId = tradeElement.value;
		var commentElementId = "comment" + commentId;
		var comment = $('#' + commentElementId).val();

		$.ajax({
			type: 'PUT',
			url: `/api/trade/${tradeId}/comment/`+commentId,
			contentType: 'application/json',
			data: JSON.stringify({ comment: comment }),
		}).done(function () {
			alert("댓글 수정 완료")
			location.replace(`/tradeMarket/`+tradeId);
		})
	}

	function deleteComment(commentId){
		let tradeElement = document.getElementById('trade-id');
		let tradeId = tradeElement.value;
		$.ajax({
			type: 'Delete',
			url: `/api/trade/${tradeId}/comment/`+commentId,
		}).done(function () {
			alert("댓글 삭제 완료")
			location.replace(`/tradeMarket/`+tradeId);
		})
	}
</script>